 /*General settings for all the elements on the page*/
 *{
  color: white;
  font-family: system-ui;
  text-align: center;
  
}
/* Settings for html element div with class container */
.container{
  min-height:100vh;
  width: 100%;
  background-image: url(../images/wepik-export-2023122903553622IJ.jpg);
  background-position: center;
  padding:100 px;
  margin: 100px;
}
nav{
  display: flex; 
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

}