 /*General settings for all the elements on the page*/
 *{
  color: white;
  font-family: system-ui;
  text-align: center;
  background: #5D8AA8;
}
/* Settings for html element div with class container */
.container{
  min-height:100vh;
  width: 100%;
  background-image: url();
  background-position: center;
  padding:10px 8%;
}
