 /*General settings for all the elements on the page*/
 *{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  }

html,
body{
  background-image: url("../WallpaperDog-20517207.jpg");

}
.form-container{
  position: relative;
  left:20%;
  width: 60%;
  height: 100vh;
  background-color: #ffffff;
  color: black;
}
.contact-form{
  position: absolute;
  top:10%;
  left: 10%;
  width: 80%;
  height: 600px;
}

input,
textarea{
width: 100%;
margin-top: 2rem;
border: none;
border-bottom: 1px solid black;
}

.submit{
  border: 1px solid black;
  padding: 1rem;
  text-align:center;
  background-color: #ffffff;
  cursor: pointer;
}

.submit:hover{
opacity: 0.6;
}